<div class="form-horizontal" id="Register">

  <h3>Register</h3>

  <%= form_tag '/register' %>

  <div class="form-group">
    <%= label_tag :email, nil, :class => "control-label" %>
    <%= email_field_tag :email, nil, :class => 'form-control', :id => 'email' %>
  </div>

  <div class="form-group">
    <%= label_tag :password, nil, :class => "control-label" %>
    <%= password_field_tag :password, nil, :class => 'form-control', :id => 'password' %>
  </div>

  <div class="form-group">
    <%= label_tag :password_confirmation, nil, :class => "control-label" %>
    <%= password_field_tag :password_confirmation, nil, :class => 'form-control', :id => 'password confirmation' %>
  </div>

  <div class="form-group">
    <%= submit_tag "Register", :class => "btn btn-primary" %>
  </div>


</div>
