<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <title>Powder Pioneer</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'skiing_fav.png' %>
</head>
<body id="top">
  <nav class="navbar navbar-fixed-top">
    <div class="container">

      <div class="navbar-header">
        <div class="col-md-6">
          <a href="/"><%= image_tag('Pioneer_powder_Logo.png', class: 'img-responsive') %></a>
        </div>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <!-- <%# if current_user %>
          <li><%# link_to current_user.email, "#" %></li>
          <li><%# link_to 'Logout', logout_path %></li>
        <%# else %>
          <li><%# link_to "Login", '#', 'data-toggle': "modal", 'data-target': ".bs-example-modal-lg" %></li>
        <%# end %> -->

        <li><%= link_to "Forecast / Radar", root_path %></li>
        <li><%= link_to "Weather", root_path %></li>
        <li><%= link_to "Education", root_path %></li>
        <li><%= link_to "Resources", root_path %></li>
        <li><%= link_to "About", root_path %></li>
      </ul>

    </div>
  </nav>

    <div class="row">
      <div class= "col-md-12">
        <%= yield %>
      </div>
    </div>

  <!-- <div class="container">
    <footer>
      <div class="row">
        <div class= "col-md-6">
          Created by Jake Marwil, 2015
        </div>
        <div class="col-md-6 text-right">
          <a href="https://www.linkedin.com/in/robertmarwil/">
            <%# image_tag('linked_in.jpg', class: 'img-footer') %>
          </a>
          <a href="https://github.com/rjmarwil">
            <%# image_tag('cat.png', class: 'img-footer') %>
          </a>
          <a href="https://twitter.com/JakeMarwil">
            <%# image_tag('twitter.png', class: 'img-footer') %>
          </a>
          <a href="https://students.gschool.it/students/224">
            <%# image_tag('galvanize.png', class: 'img-footer') %>
          </a>
        </div>
      </div>
    </footer>
  </div> -->

  <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body image-radius">
          <div class="row">
            <div class="col-md-6 split-panel-left">
              <%= render template: "registrations/new.html.erb" %>
            </div>
            <div class="col-md-6 split-panel-right">
              <%= render template: "sessions/new.html.erb" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
