<!DOCTYPE html>
<html>
<head>
  <title>Powder Pioneer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'skiing_fav.png' %>
</head>
<body class = "bg">
  <nav class="navbar navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">

        <div class="col-md-6">
          <a href="/"><%= image_tag('Pioneer_powder_Logo.png', class: 'img-responsive') %></a>
        </div>

        <div class="navbar-right">
          <ul class="nav navbar-nav navbar-right">
            <li><button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Login</button></li>

            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">

                  <div class="form-horizontal" id="Register">
                    <h3 class="col-sm-offset-1">Register</h3>
                    <%= form_tag '/register' do %>

                    <div class="form-group">
                      <div class="col-sm-2 control-label">
                        <%= label_tag :email %>
                      </div>
                      <div class="col-sm-5">
                        <%= email_field_tag :email %>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-sm-2 control-label">
                        <%= label_tag :password %>
                      </div>
                      <div class="col-sm-5">
                        <%= password_field_tag :password %>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <%= submit_tag 'Register', class: 'btn btn-primary' %>
                      </div>
                    </div>

                    <% end %>
                  </div>

                  <div class="form-horizontal" id="Login">
                    <h3 class="col-sm-offset-1">Login</h3>
                    <%= form_tag '/login' do %>

                    <div class="form-group">
                      <div class="col-sm-2 control-label">
                        <%= label_tag :email %>
                      </div>
                      <div class="col-sm-5">
                        <%= text_field_tag :email %>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-sm-2 control-label">
                        <%= label_tag :password %>
                      </div>
                      <div class="col-sm-5">
                        <%= password_field_tag :password %>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <%= submit_tag 'Login', class: 'btn btn-primary' %>
                      </div>
                    </div>

                    <% end %>
                  </div>

                </div>
              </div>
            </div>

            <li><a href="#">About</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <div class = "container"
  <%= yield %>
</div>

</body>
</html>
